@charset 'UTF-8';

/* Font imports */

@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

@font-face {
    font-family: 'Coolvetica';
    src: url(../fonts/Coolvetica\ Rg.otf);
}

@font-face {
    font-family: 'Busorama';
    src: url('../fonts/busorama.ttf');
}

* {
    margin: 0;
    padding: 0;
}

/* Variables */

:root{
    /* Fonts */
    --main-font:'Montserrat';
    --slogan-font:'Coolvetica';
    /* General */
    --sections-width: 100%;
    --sections-height: 100vh;
    /* Advantages Section */
    --adv-grid-borders: 2px solid rgba(0, 0, 0, 0.3);
}

/* Navigation Bar */

#navBar{
    position: absolute;
    width: var(--sections-width);
    height: 4.5rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

#navBarLeft{
    padding: 1rem 0rem 0rem 4rem;
    display: flex;
    flex-direction: row;
    gap: 2rem;
}

#navBarRight{
    padding: 0 4rem 0 0;
}

#sectionsUl{
    display: flex;
    flex-direction: row;
    gap: 1rem;
    list-style: none;
    font-family: var(--main-font);
    height: 100%;
    align-items: center;
}

#sectionsUl > li{
    padding: 0 1.5rem 0 1.5rem;
    
}

#cta {
    display: flex;
    height: 2em;
    background-color: rgb(154, 2, 58);
    align-items: center;
    border: 2px solid rgb(154, 2, 58);
    border-radius: 3em;
    color: white;
}

#cta:hover{
    background-color: rgb(255, 2, 58);
    color: black;
}

/* Main */

#mainContainer{
    width: var(--sections-width);
    height: fit-content;
}

/* Hero Section */

#heroSection{
    height: var(--sections-height);
    width: var(--sections-width);
    background-image: url('../images/BG.png');
    background-size: cover;
    background-repeat: no-repeat;
    overflow: hidden;

}

#sloganContainer{
    width: min-content;
    height: var(--sections-height);
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 0 0 0 1em;

}

#sloganContainer > h2{
    width: 50vw;
    font-size: 6rem;
    font-family: var(--main-font);
    line-height: 1em;
}

#sloganContainer > p{
    line-height: 3.5em;
    width: 50vw;
    font-size: 1.5rem;
    font-family: var(--main-font);;
}

#sloganContainer > h2 > span, #sloganContainer > p > strong {

    color: rgb(154, 2, 58);

}

/* Advantages Section */

#advantagesSection{
    height: var(--sections-height);
    width: var(--sections-width);
}

#advantagesMainContainer{
    height: 100%;
    background-color: rgb(252, 196, 201);
    display: flex;
    justify-content: center;
    align-items: center;
}

#gridAdvantages{
    background-color: rgb(251, 169, 176);
    border-radius: 80px;
    width: 60%;
    height: 75%;
    padding: 2em;
    display: grid;
    grid-template-areas: 
    "title title"
    "adv1 adv2"
    "adv3 adv4";
    grid-template-columns: 1fr 1fr;
    grid-template-rows: min-content 1fr 1fr;
    font-family: var(--main-font);
    position: absolute;
    box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.200);
    overflow: hidden;

}

.advantages{
    text-align: center;
    font-family: var(--main-font);
    padding: 1em;
}

.advantages > h3 {
    width: 100%;
    font-size: 2em;
}

.advantages > i, .advantages > h3{
    padding-bottom: 1rem;
}

.advantages > p {
    padding: 0 1.5em 1.5em 1.5em;
}

#advantageTitle{
    grid-area: title;
    text-align: center;
    line-height: 3em;
    font-size: 2em;
}

#adv1{
    grid-area: adv1;
    border-right: var(--adv-grid-borders);
    border-bottom:  var(--adv-grid-borders);
    padding-top: 1em;
}

#adv2{
    grid-area: adv2;
    border-bottom:  var(--adv-grid-borders);
    padding-top: 1em;
}

#adv3{
    grid-area: adv3;
    border-right:  var(--adv-grid-borders);
}

#adv4{
    grid-area: adv4;
}

/* Advantages Section: Spheres Animation */

#spheresContainer{
    width: 100%;
    height: 100vh;
    overflow: hidden;
    display: flex;

}

.sphere{
    height: 70px;
    width: 70px;
    display: block;
    background: black;
    border-radius: 100%;
    background: radial-gradient(circle at 20px 20px, rgb(252, 196, 201), rgb(255, 158, 166));
    animation: spheresAnimation linear infinite;
    animation-duration: calc(150s / var(--i));
}

/* Spheres animations */

@keyframes spheresAnimation {
    0%{
        transform: translateY(100vh) scale(0)
    }
    100% {
        transform: translateY(-10vh) scale(1);
    }
}